<?xml version="1.0" ?>
<model>
    <name>hld_custom</name>
    <version>1.0</version>
    <sdf version="1.7">hld_custom.sdf</sdf>
    <author>
        <name>Lachlan Orr</name>
        <email>lachie_orr@hotmail.com</email>
    </author>
    <description>Model of HighlightDynamics drone with stewart platform</description>
</model>
